################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DemoWebApi/.vs/DemoWebApi/v15
/DemoWebApi/DemoWebApi/bin/Debug/netcoreapp2.0
/DemoWebApi/DemoWebApi/obj
